/* @font-face {
    font-family: 'MyFont';
    src: url('./my-font.woff2') format('woff2'),
    url('./my-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    }
    */

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
body {
    background-color: rgba(240, 189, 189, 0.159);
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(110deg, #fc5c7d47, #916afb5c);
    /* font-family: 'MyFont'; */
    opacity: 0.9;

}  

nav.menu {
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 5px 5px 20px -15px;
    height: 60px;
    position: relative;
    z-index: 1;
}

p.menu_p {
    padding: 20px;
    font-weight: 900;
    transition: 0.4s ease;
    border-radius: 2px;
    color: #2b2b2b;

}

p.menu_p:hover,li:hover{
  
    color: transparent;
    background: linear-gradient(110deg, #fc5c7caa, #916afbab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

p.menu_p:nth-child(2) {
    margin-left: auto;
}

li{
    cursor: pointer;
    padding:5px 0px;
}


.hidden{
    display: none;
}

ul.menu_ul{
    position: absolute;
    top: 70px;
    background: #ffffffba;
    padding: 10px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 5px 5px 20px -15px;
}

ul.about_menu{
    right: 12%;
}

ul.services_menu{
    right: 2%;
    margin-top: -10px;
    padding-top: 20px;
    z-index: 0;
}

