/* @font-face {
    font-family: 'MyFont';
    src: url('./my-font.woff2') format('woff2'),
    url('./my-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    }
    */

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
body {
    background-color: rgba(240, 189, 189, 0.159);
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(110deg, #fc5c7d47, #916afb5c);
    /* font-family: 'MyFont'; */
    opacity: 0.9;

}  

nav {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 5px 5px 20px -15px;
    height: 60px;
    position: relative;
    z-index: 10;
}

nav.mobile_menu{
    justify-content: flex-end;
    padding-right: 20px;
}

img{
    height: 30px;
    padding: 5px;
}

div.container{
    position: relative;
    display: inline-block;
    z-index: 1;
}

/* title  */
p.menu_p,
p.p_title {
    padding: 20px;
    font-weight: 900;
    transition: 0.4s ease;
    border-radius: 2px;
    color: #2b2b2b;
    cursor: pointer;
}

ul, li{
    color: #2b2b2b !important;
}


li:hover,
li:focus,
p.menu_p:hover,
p.menu_p:hover
{
    color: transparent;
    background: linear-gradient(110deg, #fc5c7caa, #916afbab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.container:nth-child(2) {
    margin-left: auto;
}

li{
    padding: 5px 0px;
}




.hidden,
.mobile_menu{
    display: none;
}

ul.menu_ul{
    cursor: pointer;
    position: absolute;
    margin-top: -10px;
    padding: 20px 10px 10px;
    background: #ffffffba;
    font-weight: 400;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 5px 10px 20px -15px;
    min-width: 100px;
}

ul.about_menu{
    right:15%;
}

/* will need to change  */
ul.hover_menu_ul{
    right: 8%;
    z-index: 0;
}

ul.p_menu{
    right: 2%;
}

/* testing */
/* ul.menu_ul{
    display:none;
} */

/* div.container:hover ul.menu_ul{
    display: inline-block;
} */

@media screen and (max-width: 600px){

    nav.menu{
        display: none;
    }

    .mobile_menu{
        display: flex;
    }
    .mobile_ul{
        width: 93%;
        cursor: pointer;
        position: absolute;
        top: 60px;
        margin-top: -10px;
        padding: 16px 10px 10px;
        background: #ffffffba;
        font-weight: 400;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        box-shadow: 5px 5px 20px -15px;
        left: 3px;
      
    }

    .menu_li{
        width: 30%;
        border-right: 1px solid lightgrey;
    }




}